Source: nagios-plugins-openshift
Section: net
Priority: optional
Maintainer: Michael Hanselmann <hansmi@vshn.ch>
Build-Depends: debhelper (>= 8.0.0),
 python3,
 python3-setuptools,
 dh-python
Standards-Version: 3.9.5
X-Python3-Version: >= 3.4
Homepage: https://github.com/appuio/nagios-plugins-openshift

Package: nagios-plugins-openshift
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, bash,
 curl (>= 7.21.3),
 daemontools,
 nagios-plugins-basic,
 openshift-origin-client-tools (>= 1.4),
# jq 1.4 fixes https://github.com/stedolan/jq/issues/208
 jq (>= 1.4),
 python3 (>= 3.4),
 python3-nagiosplugin (>= 1.2),
 python3-requests (>= 2.2),
 python3-urllib3 (>= 1.13),
 python3-dateutil
Description: Nagios-compatible plugins to monitor OpenShift

Package: nagios-plugins-openshift-config
Architecture: all
Depends: ${misc:Depends}, icinga2
Conflicts: nagios-plugins-openshift (<< 0.10.0)
Description: Icinga 2.x configuration for nagios-plugins-openshift
